<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--指定配置数据源的文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>WEB-INF/database.properties</value>
		</property>
	</bean>

	<!--加载数据库连接配置信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="driverClass" value="${jdbc.driverClassName}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<!-- 在此处  手动指定数据库连接池配置 -->
		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
		<property name="checkoutTimeout" value="3600"></property>
		<!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
		<property name="idleConnectionTestPeriod" value="120"></property>
		<!-- 每次都验证连接是否可用 -->
		<property name="testConnectionOnCheckin" value="true"></property>
		
	</bean>
	
	<!--hibernate sessionFactory-->
	<bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">${showSql}</prop>
				<prop key="hibernate.dialect">${dialect}</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list><value>classpath:/com/yiqin/pojo/*.hbm.xml</value></list>
		</property>
	</bean>

	<!--数据库事物 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="find" isolation="READ_UNCOMMITTED" propagation="NOT_SUPPORTED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
		
	<aop:config>
		<aop:pointcut id="curd" expression="execution (* com.yiqin.dao.*.* (..))"/>
		<aop:advisor advice-ref="txAdice" pointcut-ref="curd"/>
	</aop:config>

	<!--dao service注入-->
	<bean id="userDao" class="com.yiqin.dao.impl.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="shoppingDao" class="com.yiqin.dao.impl.ShoppingDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="productDao" class="com.yiqin.dao.impl.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="systemDao" class="com.yiqin.dao.impl.SystemDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userManager" class="com.yiqin.serviceImpl.UserManagerImpl">
		<property name="userDao"><ref bean="userDao"></ref></property>
		<property name="shoppingDao"><ref bean="shoppingDao"></ref></property>
	</bean>
	
	<bean id="shoppingManager" class="com.yiqin.serviceImpl.ShoppingManagerImpl">
		<property name="shoppingDao"><ref bean="shoppingDao"></ref></property>
	</bean>
	
	<bean id="productManager" class="com.yiqin.serviceImpl.ProductManagerImpl">
		<property name="productDao"><ref bean="productDao"></ref></property>
		<property name="userDao"><ref bean="userDao"></ref></property>
	</bean>

</beans>
