<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--指定配置数据源的文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>WEB-INF/database.properties</value>
		</property>
	</bean>

	<!--加载配置信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="driverClass" value="${jdbc.driverClassName}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!--数据库事物 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:advice id="txAdice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="find" isolation="READ_UNCOMMITTED" propagation="NOT_SUPPORTED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
		
	<aop:config>
		<aop:pointcut id="curd" expression="execution (* com.yiqin.shop.dao.*.* (..))"/>
		<aop:advisor advice-ref="txAdice" pointcut-ref="curd"/>
	</aop:config>

	<!--dao service注入-->
	<bean id="userDao" class="com.yiqin.shop.dao.impl.UserDao">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>
	
	<bean id="shoppingDao" class="com.yiqin.shop.dao.impl.ShoppingDao">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>
	
	<bean id="productDao" class="com.yiqin.shop.dao.impl.ProductDao">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>

	<bean id="userManager" class="com.yiqin.shop.serviceImpl.UserManagerImpl">
		<property name="userDao"><ref bean="userDao"></ref></property>
	</bean>
	
	<bean id="shoppingManager" class="com.yiqin.shop.serviceImpl.ShoppingManagerImpl">
		<property name="shoppingDao"><ref bean="shoppingDao"></ref></property>
	</bean>
	
	<bean id="productManager" class="com.yiqin.shop.serviceImpl.ProductManagerImpl">
		<property name="productDao"><ref bean="productDao"></ref></property>
	</bean>

</beans>
