<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--指定配置数据源的文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>WEB-INF/database.properties</value>
		</property>
	</bean>

	<!--加载配置信息 -->
	<bean id="MongoDBConfig" class="com.yiqin.shop.mongo.MongoDBConfig">
		<property name="dbhost" value="${mongodb_host}"></property>
		<property name="dbport" value="${mongodb_port}"></property>
		<property name="database" value="${mongodb_database}"></property>
		<property name="dbUser" value="${mongodb_user}"></property>
		<property name="dbPassword" value="${mongodb_password}"></property>
	</bean>

	<!--数据库初始化 -->
	<bean id="mongoDB" class="com.yiqin.shop.mongo.InitMongoDBConnection">
	</bean>

	<!--数据库底层方法注入-->
	<bean id="mongoDBSupport" class="com.yiqin.shop.mongo.MongoDBSupport">
		<property name="mongoDBConn" ref="mongoDB"></property>
	</bean>

<!-- 	<bean id="userDao" class="com.yiqin.shop.daoImpl.UserDaoImpl"> -->
<!-- 		<property name="mongoDBSupport" ref="mongoDBSupport"></property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="shoppingDao" class="com.yiqin.shop.daoImpl.ShoppingDaoImpl"> -->
<!-- 		<property name="mongoDBSupport" ref="mongoDBSupport"></property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="productDao" class="com.yiqin.shop.daoImpl.productDaoImpl"> -->
<!-- 		<property name="mongoDBSupport" ref="mongoDBSupport"></property> -->
<!-- 	</bean> -->

	<bean id="userManager" class="com.yiqin.shop.serviceImpl.UserManagerImpl">
<!-- 		<property name="userDao" ref="userDao"></property> -->
	</bean>
	
	<bean id="shoppingManager" class="com.yiqin.shop.serviceImpl.ShoppingManagerImpl">
<!-- 		<property name="shoppingDao" ref="shoppingDao"></property> -->
	</bean>
	
	<bean id="productManager" class="com.yiqin.shop.serviceImpl.ProductManagerImpl">
<!-- 		<property name="productDao" ref="productDao"></property> -->
	</bean>

</beans>
